/* CSS Document */
*{margin:0 auto;padding:0;}
.clearfloat{clear:both;line-height:0;height:0;font-size:1px;}

html {border: 0 none;margin: 0;padding: 0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {border: 0 none;font: inherit;margin: 0;padding: 0;vertical-align: baseline;}
h3 {font-size: 1em;line-height: 1;margin-bottom: 1em;text-decoration: none;}

article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1.5;color: #666666;font-family:inherit;font-size: 75%;}
a img {border: none;}
button{margin:0 auto; border:none;}
li, ol, ul{list-style-type:none;}
.header {background: url("../images/v3_bgheader1.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);height: 174px;width: 100%;}

.user-menu {margin: 0 auto;height: 35px;}
.span-26{width: 80%;}
.user-inner {float: right;width: 600px;position: relative;}
.user-inner {float: right;width: 600px;position: relative;}
.user-inner #nonLogin ul {float: right;list-style: none;margin: 0;position: absolute;right: 42px;top: 0;}
.user-inner ul li {float: left;margin: 0;height: 36px;position: relative;display: inline-flex;}
.gravatar {padding: 0px 0px;}
.pao {border-right: 1px solid #E6E6E6;border-top: 1px solid #E6E6E6;border-left: 1px solid #E6E6E6;float: left;left: -105px;position: absolute;width: 110px;z-index: 99;height: 24px;top: 6px;border-radius: 5px 5px 0 0;}
.user-inner ul li a {color: #B2B1B1;display: block;font-size: 12px;font-weight: bold;line-height: 24px;padding: 0 10px;text-decoration: none;}
.user-inner div.pao a{float:left;/*width:90%;*/}
.user-inner ul li a span{color:#7d7d7d;float:left;}

.down{background: url(../images/up-down.png) no-repeat scroll 0 0 rgba(0,0,0,0);float: left;height: 15px;margin: 6px 0 5px 9px;width: 15px;}
.downup{background:url(../images/up-down.png) no-repeat scroll 0 -15px rgba(0,0,0,0);float:left;height: 15px;width:15px;margin:6px 0 5px 9px;}

.box_login{display:none;line-height: normal;}
#nonLogin .box_login {background: none repeat scroll 0 0 #F4F4F4;border: 1px solid #C6C6C6;border-radius: 0 5px 5px 5px;left: -105px;padding: 10px;position: absolute;top: 30px;z-index: 19999;}
.user-inner ul li.lg-facebook a{padding: 7px 10px;}
.user-inner ul li.lg-facebook a:hover{opacity:0.8;}
div.box_login1 label {color: #969696;text-shadow: 0 -1px 0 #FFFBFB;display: block;font-weight: normal;}
div.box_login1 input {border: medium none;border-radius: 5px 5px 5px 5px;height: 23px;padding: 5px;width: 95%;margin: 0.5em 0;}
div.box_login1 .fotgetPass a {line-height: normal;}
#nonLogin ul li a span {float: left;color: #7D7D7D;}
div.box_login1 .fotgetPass span {color: #4294ba !important;font-weight: normal;}
div.box_login1 .fotgetPass {float: left;width: 49%;}
div.box_login1 .btnEnter {float: left;width: 49%;}
div.box_login1 .fotgetPass a:hover span{text-decoration:underline;}

.user-inner ul li .btnEnter a {background: none repeat scroll 0 0 #333333;border: 1px solid #C3C3C3;color: #FFFFFF;font-size: 13px;text-align: center;text-transform: uppercase;line-height: 28px;}
.box_login2 {float: left;position: relative;margin-top: 15px;}
div.box_login2 .line {background: #d8d8d8;float: left;width: 100%;height: 1px;}
div.box_login2 .line1 {background: #FFFFFF;float: left;width: 100%;height: 1px;}
div.box_login2 .title {background: none repeat scroll 0 0 #F4F4F4;left: 50%;margin-left: -26px;padding: 0 10px;position: absolute;top: -8px;}
div.box_login2 a.img_login-fb {float: left;margin-top: 15px;}


#cart-contpopup .mis {margin: 30px 0 0 30px;}
#cart-contpopup .mis p a {color: #000;font-weight: bold;}
/************************LOGO-SEARCH-HOTLINE-SHARE*************************/
.chon{height:94px;margin:0 auto;position:relative;}
.logo{left:20px;top:50%;margin:-35px 0 ;position:absolute;float:left;}
.logo, .logo a{height:70px;width:194px;}
.logo a{background:url(../images/logo_chon1.png) no-repeat scroll center center rgba(0,0,0,0);display:block;}
.search{left:300px;position:absolute;top:20px;float:left;}

.tukhoa{color:#8B8B8B;}
ul{list-style-type:none;}
a{color:#446688;text-decoration:none;font-size: 14px;    /* color: #446688; */}
p{margin: 0 0 1.5em;}
.tukhoa ul li{cursor:pointer;display:inline-block;margin:0;}
.tukhoa li span{color:#8b8b8b8;display:block;font-size:10px;height:20px;text-decoration:none;cursor:pointer;}
.tugoiy{background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #EBEBEB;border-radius: 4px;box-shadow: 0 1px 2px #333333;color:#000000;float:left;font-size:8pt;max-width:300px;left:0;padding:6px 10px;position: absolute;text-align:justify;top:22px;width:200px;z-index:100;cursor:pointer;position:absolute;}
.tugoiy:after{background:url(../images/tooltip-tip-top.png) no-repeat scroll 0 0 rgba(0,0,0,0);content: "";display:block;height:14px;left:20px;position:absolute;top:-13px;width:16px;cursor:pointer;}
.tukhoa li div{display:none;}
.tukhoa li:hover div{display:block;}
.tugoiy a:hover{text-decoration:underline;color:#B41E03;}

.searchbox{background: none repeat scroll 0 0 #FFFFFF;border: 3px solid #EBEBEB;height:32px;width:425px;}
.searchbox .isearch{background:url(../images/store-icon.png) no-repeat scroll -69px -39px rgba(0,0,0,0);cursor:pointer;float:left;height:13px;margin: 6px 6px 0;width:13px;}
.searchbox .iconsearch{float:left;}
.searchbox .iconsearch{color:#b8b8b8;}
.searchbox .iconsearch input{border:medium none !important;font-size:13px;margin: 5px 0;color:#000000;width:312px;border-radius:4px;line-height:150%;-moz-border-radius:4px;-web-kit-border-radius:4px;-khtml-border-radius:4px;}
.searchbox .tksearch{background:url(../images/store-icon.png) no-repeat scroll -9px -92px rgba(0,0,0,0);cursor:pointer;float:right;height:26px;margin:0;width:72px;}
.searchbox .tksearch:hover{background:url(../images/store-icon.png) no-repeat scroll -9px -122px rgba(0,0,0,0);cursor:pointer;float:right;height:26px;margin:0;width:72px;}

div.hotline{border-left: 1px solid #cecece;margin:0;padding: 0 0 0 10px;right:109px;top:38px;position:absolute;}
div.hotline p{ color:#8b8b8b; line-height:16px; margin:0;}

div.hotline p.num{ color: #666666; font-size:18px; font-weight:bold; margin:0;}

.giohethong{top:75px;right:8px;position:absolute;}
div.Share{border-left: 1px solid #cecece;margin:0;padding: 0 0 0 10px;height:33px;top:38px;right:2px;position:absolute;}
div.Share p{color:#8b8b8b8;margin:0;line-height:16px;}
div.Share p a{margin-right: 5px;color:#8b8b8b;line-height:normal;float:left;cursor:pointer;}
div.Share p a.facebook{background: url(../images/share-icon.png) no-repeat scroll 0 0 rgba(0,0,0,0);height:18px;width:18px;}
div.Share p a.facebook:hover{background:url(../images/share-icon.png) no-repeat scroll 0 -18px rgba(0,0,0,0);height:18px;width:18px;}
div.Share p a.twitter{background: url(../images/share-icon.png) no-repeat scroll -23px 0 rgba(0,0,0,0);height:18px;width:18px;}
div.Share p a.twitter:hover{background: url(../images/share-icon.png) no-repeat scroll -23px -18px rgba(0,0,0,0);height:18px;width:18px;}
div.Share p a.googleplus{background:url(../images/share-icon.png) no-repeat scroll -47px 0 rgba(0,0,0,0);height:18px;width:18px;}
div.Share p a.googleplus:hover{background:url(../images/share-icon.png) no-repeat scroll -47px -18px rgba(0,0,0,0);height:18px;width:18px;}
div.Share p a.googleplus, div.Share p a.twitter,div.Share p a.facebook{transition: all 0.3s ease 0s;position:relative;}

.sf-menu, .sf-menu *{margin:0; padding:0;list-style: 0 outside none;}
.sf-navbar{margin:0 auto;position:relative;background:url(../images/v3_bgmenutop.gif) repeat-x scroll 0 0 rgba(0,0,0,0);height:2.5em;width:100%;padding-bottom:2.5em;}
.sf-menu{float:left;line-height:1;}
.sf-menu li{float:left;}
.sf-menu a, .sf-menu a:visited{text-transform:uppercase;}

.home{background:url(../images/store-icon.png) no-repeat scroll 0px -150px rgba(0,0,0,0);float:left;height: 30px;width:30px;cursor:pointer;}



body {
	/*
    background: -webkit-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0, -webkit-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0, -webkit-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px, -webkit-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px, -webkit-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px, -webkit-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0, -webkit-linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
    background-color: #840b2a;
    background: -moz-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0, -moz-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0, -moz-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px, -moz-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px, -moz-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px, -moz-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0, -moz-linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
    background-color: #840b2a;
    background: -o-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0, -o-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0, -o-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px, -o-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px, -o-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px, -o-radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0, -o-linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
    background-size: 1000px 1000px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 1000px 1000px;
    background-color: #840b2a;
	*/
	/* "/forum/images/8bcLQqF.png"; */
	background: #f4f4f4 url("/forum/images/background/bg.gif") repeat top left;
	font-size: 12px;
	line-height: 1.5em;
	color: #333;
	margin:0 auto;
	padding: 0;
	/*text-align: center;*/
	width: 100%;
}



/* *************** BACK TO TOP ****************** */
#bttop {border: 1px solid #4adcff;background: #24bde2;text-align: center;padding: 5px;position: fixed;bottom: 35px;right: 30px;cursor: pointer;display: none;color: #fff;font-size: 11px;font-weight: 900;}
#bttop:hover{border:1px solid #ffa789;background:#ff6734;}

/* -------------Footer-----------------*/
#footer{
	width:100%;
	position: relative;
	text-align:center;
	background:white;
	margin:2px auto;
	padding:15px 0;
	float: left;
}