	<div id="mainsubcol">
			<div id="mainsubcol_content">

				<div id="mainsub_n"></div>
				<div id="mainsub_c">
					<div id="mainsub_content">
						
						<div id="mainsub_ranking_n"></div>
						<div id="mainsub_ranking_c">
							<div id="mainsub_inner_content">
								<!-- ================ CONTENT HERE ================ -->
								<div class="sub_ranking" align="center">
									<font color="red"><b>Đường dẫn không có thực hoặc đang xây dựng.</b></font><br>
									<font color="red"><b>Xin vui lòng quay trở lại sau.</b></font><br>
									<form><input type="button" value="Quay lại" onClick="history.back()"></form>
								</div>
								<!-- ================ CONTENT HERE ================ //-->
							</div>                  
						</div>
						<div id="mainsub_ranking_s"></div>
						<div class="clear"></div>              	
                
					</div>              
				</div>
				<div id="mainsub_s"></div>
				<div class="clear"></div>
                         
            
			</div> 
            
                
		</div>