.title_newshome {
    color: aquamarine;
    text-transform: uppercase;
}
.entry  {
    width: 100%;
}
.row-notify{
    border-bottom: #ad9898 dotted 5px;
    line-height: 20px;
    border-width: thin;
    width: 100%;
}
.postForum{
    padding: 0;
    margin: 0;
    font-size: 13px;
    text-align: justify;
    padding: 0 10px;
}
.topx-content-tab {
    display: inline-block;
    width: 80%;
    padding-right: 5px;
    height: 20px;
    overflow: hidden;
}

.col-right {
    float: right;
    display: block;
    position: relative;

}
.time-nofify-Forum {
    padding: 2px 3px;
    border: 1px solid #d0c4c4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
}

.time-tb {
    background: #cc0000;
}
.time-garena {
    background: #009900;
}
a.overtext {
    color: #9e0319;
}
.ranking_sub th.title-ranking{
    font-weight: bold;
    color: #b66836 !important;
}