div#container {
    width: 85%;
    margin: 0 auto;
}
#main {
    border-radius: 25px;
    border: 1px solid #730000;
    float: left;
	width: 100%;
	padding: 10px 0;
    background-color: #ffffff;
	margin-bottom:20px;
	min-height: 550px;
}

.middle {
	float:left;
	padding-button: 10px;
	width: 100%;
}

	/* left column */
#left-column {
	float:left;
	width: 100%;
}

/* center column */
#center-column {
	background:url(bg-center-column.jpg) no-repeat left top;
	background-size: 100%;
	width:100%;
	min-height: 450px;
}
/* right column */
#right-column {
	float:left;
	padding:0 3px 0 5px;	
	width:100%;
}	
/*
* html #center-column {height:584px;}
*/

	
/* left column styles */
#left-column .tent {
    padding: 0px 5px 0 5px;
}
#left-column a {color:#3E3E3E;}
#left-column h3 {
	font-size:11px;
	margin:0;
	color:#fff;
	background:url(bg-left-header.gif) no-repeat left top;
	height:25px;
	line-height:23px;
	padding:0 0 0 9px;
	}
ul.nav {
	margin:0 0 11px 0;
	border-bottom:2px solid #FF9600;
	background:#ECEFE7;
	list-style:none;
	padding:0 2px;
	}
ul.nav li {
	padding:4px 4px 6px 5px;
	background:url(bg-dotted.gif) repeat-x bottom;
	}
ul.nav a {
	padding:0 0 0 12px;
	background:url(arrow.gif) no-repeat 0 4px;
	}
ul.nav a:hover {
	font-weight:bold;
	}
ul.nav li.last {background:none;}

#left-column .link {
	display:block;
	height:25px;
	background:url(bg-left-link.gif);
	margin:0 0 4px 0;
	font-weight:bold;
	padding:0 0 0 9px;
	line-height:25px;
	color:#60635A;
	}
	
	
/* center column styles */
#center-column .left_forums {
    padding: 12px 16px 0 13px;
}
.tieude {
    border-bottom: 2px solid red;
    /* margin-top: 1px; */
    padding: 2px 0;
}
.top-bar {
	float:left;
	width:100%;
	}
/* text page header */
.top-bar h1 {
	font:20px/21px verdana,sans-serif;
	color:#43729F;
	border-left:2px solid #f70;
	float: left;
	}
/* orange button */
.top-bar a.button {
	float:right;
	display:block;
	width:75px;
	height:35px;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	line-height:27px;
	background:url(bg-orange-button.gif) no-repeat;
	}
	
/* bar with select */
.select-bar {
	clear:both;
	border-top:2px solid #f70;
	}
.select-bar select {width:145px;margin:0 2px;}

/*  */


/* table container */
/*
div.table {
	float:left;
	position:relative;
	width:614px;
	margin:0 0 37px 0;
	}
table.listing {
	border-bottom:1px solid #9097A9;
	width:613px;
	padding:0;
	margin:0;
	border:1px solid #9097A9;
	}
table.listing th {
	border-top:0 !important;
	}
table.listing th.full {border-left:0;border-right:0 !important;text-align:left;text-transform:uppercase;}
div.table img.left {
	position:absolute;
	top:0;
	left:0;
	}
div.table img.right {
	position:absolute;
	top:0;
	right:1px;
	}
/* table styles 
table.listing td,
table.listing th {
	border:1px solid #fff;
	text-align:center;
	}	
table.listing th {
	background:#9097A9;
	color:#fff;
	padding:5px;
	}
table.listing td {
	background:#D8D8D8;
	color:#000;
	padding:3px 5px;
	}
table.listing .bg td {
	background:#ECECEC;
	}
table.listing .white td {
	background:#fff;
	}	
table.listing .first {border-left:0px solid #9097A9;text-align:left;}
table.listing .last {border-right:0px solid #9097A9;}

table.listing th.first {background:#9097A9 url(bg-th-left.gif) no-repeat left top;border-left:0;}
table.listing th.last {background:#9097A9 url(bg-th-right.gif) no-repeat right top;border-right:0;}

table.listing .style1 {font-weight:bold;color:#FF7A00;}
table.listing .style2 {font-weight:bold;padding-left:16px;}
table.listing .style3 {padding-left:25px;}
table.listing .style4 {padding-left:35px;}
table.form .last {padding:1px 0 1px 5px;text-align:left;}
table.form th,
table.form td {padding-left:10px;}
table.form input.text {width:262px}

/* table select 
div.table .select {
	float:right;
	margin:2px 1px 0 0;
	width:176px;
	height:25px;
	background:#9097A9 url(bg-select.gif);
	color:#fff;
	}
div.table .select strong {
	float:left;
	padding:5px 0 0 5px;
	}	
div.table .select select {
	float:right;
	width:78px;
	margin:2px 3px 0 0;
	text-align:right;	
	}
	
/* right column header */
#right-column .h {
	float:left;
	background:#7E878A;
	border:1px solid #B8B8B8;
	border-bottom:0;
	padding:3px 10px;
	color:#fff;
	text-transform:uppercase;
	}
/* right column box */
#right-column .box {
	float:left;
	padding:5px;
	border:1px solid #B8B8B8;
	background:#EBEBEB;
	margin:0 6px 15px 0;
	}
	
/* right column buttons */
.buttons {
	clear:both;
	text-align:center;
	padding:30px 0 15px 0;
	}
.buttons input {margin:0 0 6px 0;}

.download {
	position: absolute;
	margin: 10px 0 0 500px;
	font-size: 18px;
	background-color: #ffffff;
}
/* ***************** center phan trang ********************** */
/*
@CHARSET "ISO-8859-1";
/*============== STYLE FOR PAGE ==============*/

/*============== STYLE FOR PAGING ==============*/
/*
div#condata {
    width: 100%;
    margin: 0 auto;
}	
#condata .pagination ul li.active,
#condata .pagination ul li.inactive:hover{
	    background-color: #E0D6D6;
    color: #080808;
    border: 1px solid #5E5659;
    cursor: default;
}
#condata .pagination ul li.inactive{
	background-color: #E0D6D6;
    color: #3B1A25;
    border: 1px solid #000000;
    cursor: default;
}

#condata .data {
    margin: 12px;
}
#condata .data ul li{
    list-style: none;
    margin: 5px 0; 
    font:normal 13px verdana;
}

#condata .pagination{width: 100%;float:right;height: 25px; margin-top:20px;}
#condata .pagination ul li{
    list-style: none;
    float: left; margin: 0 2px;
    border: 1px solid #eaeaea;
    padding: 1px 5px 1px 5px;
    /*font: bold 14px arial;*/
  /*  background-color: #000; color: #DB2E66;
}
*/
/*
#condata .pagination ul li.actived{color:#DB2E66; /*background-color:#fff;*/ /* border:1px solid #fff;}
#condata .pagination ul li:hover{
    background-color: #080808;
 	/*border: 1px solid #DB2E66;*/
    /*cursor: pointer; color: #fff;
}
span.gotopage {
    float: right;
    position: relative; */
    /* margin: 0 5px; */
    /* width: 109px; */
    /* padding: 0 12px; */
    /*padding-right: 12px;
	}
.go_button{
    background-color: #E0D6D6;
    border: 1px solid #000;
    color: #000000;
    padding: 2px 6px;
    cursor: pointer;
    /*position: absolute;*/
    /*margin-top: -1px;
}
.total{	float:right;font-family:arial;color:#999;margin: 0 12px; }

/* ************* end center phan trang *********** */
 /*.fade{opacity:1;-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear}
 */