/* =========== MAIN COL CONTENT =========== */
#maincol_content {
    margin: 0 2px 0 2px;
}

#rotator {
}

#news_wrapper {
    margin: 3px 0 10px 0;
}

#news {
    color: #261904;
}

.news_n {
    background: url(../images/bgnews_n.png) no-repeat top center;
    width: 100%;
    height: 12px;
    background-size: cover;
}

.news_c {
    background: url(../images/bgnews_c.png) repeat-y top center;
    width: 100%;
    background-size: contain;
}

.news_s {
    background: url(../images/bgnews_s.png) no-repeat bottom center;
    width: 100%;
    height: 12px;
    background-size: cover;
}

.news_content {
    margin: 0 16px 0 16px;
}

.newsitem {
    padding: 0 0 9px 0;
}

.title_newshome {
    padding: 6px 0 11px 0;
}

.title_newshome_bx1, .title_newshome_bx2 {
    float: left;
}

.title_newshome_bx1 {
    width: 70%;
    text-align: left;
}

.title_newshome_bx2 {
    width: 30%;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
    font-size: 8pt;
}

.title_newshome_bx2 a:link {
    color: #ffffff;
    text-decoration: underline;
}

.title_newshome_bx2 a:visited {
    color: #ffffff;
    text-decoration: underline;
}

.title_newshome_bx2 a:hover {
    color: #f2d30d;
    text-decoration: underline;
}

.newsitem_n {
    background: url(../images/newsitem_n.png) no-repeat top center;
    background-size: cover;
    height: 12px;
}

.newsitem_c {
    background: url(../images/newsitem_c.png) repeat-y top center;
    background-size: cover;
}

.newsitem_s {
    background: url(../images/newsitem_s.png) no-repeat top center;
    background-size: cover;
    height: 12px;
}

.newsitem_content {
    margin: 0 12px 0 12px;
}

.news_pic, .news_header {
    float: left;
}

.news_pic {
    width: 68px;
    text-align: left;
}

.news_header {
    width: 413px;
}

.news_title {
    font-weight: bold;
}

.news_title a:link {
    color: #261904;
    text-decoration: none;
}

.news_title a:visited {
    color: #261904;
    text-decoration: none;
}

.news_title a:hover {
    color: #261904;
    text-decoration: underline;
}

.news_source {
    font-size: 8pt;
}

.news_date {
}

.news_pic img {
    border: solid #ffffff 3px;
}

.author_name {
    font-weight: bold;
    color: #6d3d00;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.author_name a:link {
    color: #6d3d00;
    text-decoration: none;
}

.author_name a:visited {
    color: #6d3d00;
    text-decoration: none;
}

.author_name a:hover {
    color: #6d3d00;
    text-decoration: underline;
}

.icon_extend {
    margin-top: 5px;
}

.news_line_wrapper {
    margin-top: 4px;
}

.news_line {
    background: url(../images/news_line.gif) no-repeat top center;
    width: 481px;
    height: 2px;
}

.news_body {
    padding: 8px 0 8px 0;
}

.read_more {
    padding: 5px 0 0 0;
}

.read_more a:link, a:visited, a:hover {
    color: #004040;
    text-decoration: underline;
}

.news_body img {
    padding: 0px 0 8px 0;
}

/* =========== MAIN COL CONTENT //=========== */

/* =========== RIGHT COL CONTENT =========== */
#serverclock {
    background: url(../images/bg_serverclock.png) no-repeat top center;
    width: 100%;
    background-size: cover;
    height: 75px;
    margin-bottom: 2px;
    color: #ffffff;
    font-weight: bold;
}

#serverclock_date {
    padding: 21px 0 0 94px;
}

#serverclock_time {
    padding: 0 0 0 94px;
}

#rightcol_screenshot {
    margin-top: 2px;
}

#rightcol_conceptart {
    margin-top: 2px;
}

/* =========== RIGHT COL CONTENT //=========== */

/*********************** pagination ***************** */
.panel {
    border-radius: 5px;
    border: 1px solid silver;
    background-color: #F7F6F4;
    padding: 4px;
    margin-bottom: 5px;
    width: 100%;
    display: inline-block;
}

.panel td {
    padding: 0px 0px;
}

.panel select.sel-p {
    float: left;
}

.pagination-holder {
    padding: 0px 20px;
    margin: 10px 0px 20px;
}

.simple-pagination {
    display: block;
    overflow: hidden;
    padding: 0 5px 5px 0;
    margin: 0;
}

.simple-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.simple-pagination li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

.a {
    float: left;
    width: 95%;
    height: 20px;
    border: 1px solid gray;
}

.b { /*float: right;*/
    background: rgba(87, 173, 55, 0.41);
    height: 16px;
    color: white;
    text-align: center;
    padding: 2px;
}

.c {
    margin: 20px 0 0 0;
    text-align: right;
}

.required {
    color: red;
}

/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/

.light-theme a, .light-theme span {
    float: left;
    text-decoration: none;
    color: #666;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #BBB;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #efefef 100%); /* W3C */
}

.light-theme a.page-link:hover {
    text-decoration: none;
    background: #FCFCFC;
}

.light-theme .current {
    background: #666;
    color: #FFF;
    border-color: #444;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
    cursor: default;
}

.light-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}

.pagination {
    padding: 6px 0 0 0;
    margin-top: 5px;
}

.pagination a {
    font-size: 13px;
}

.pagination .b, .panel .b, .source .b {
    font-weight: bold;
}

/*********************** end pagination ***************** */
._info {
    background: rgba(7, 43, 43, 0.62);
}

div#server_info {
    width: 100%;
    position: relative;
    display: block;
}

.custom-info-server {
    display: block;
    list-style-type: none;
}

.custom-info-server li {
    margin-left: 25px;
    list-style-type: circle;
}

.cReda a {
    color: red;
}

.cRed {
    color: red;
}

.cBule {
    color: #009900
}

.cInfo {
    color: #189dde;
}

.textUpcase {
    text-transform: uppercase;
}

.textBold {
    font-weight: 700;
}

.img-height {
    height: 130px;
}

.custom-checkbox {
    padding: 5px;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 7px 15px 8px 15px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.cHeddien {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

/********************************* table ******************************/
table.ranking {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
}

table.ranking th {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 1px 5px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

table.ranking th:after {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

table.ranking th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
}

table.ranking th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

table.ranking td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 1px 5px;
    position: relative;
    transition: all 300ms;
}

table.ranking td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

table.ranking td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

table.ranking tr {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png);
}

table.ranking tr:nth-child(odd) td {
    background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);
}

table.ranking tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}

table.ranking tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

table.ranking tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}

table.ranking tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

table.ranking tbody:hover tr:hover td {
    color: #1503ff;
    text-shadow: 0 1px 0 #fff;
    /*font-weight: 600;*/
}
/********************************* table ******************************/