.box-phantrang {
    overflow: hidden;
    float: right;
    padding-top: 15px;
}

.box-phantrang a {
    width: 20px;
    height: 20px;
}

.box-phantrang a:link {
    display: block;
    /* */
    background: #e1e1e1;
    color: #000;
    border: solid 1px #a9a9a9;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
}

.box-phantrang a:visited {
    display: block;
    /*width:20px;
    /*height:20px; */
    background: #e1e1e1;
    color: #000;
    border: solid 1px #a9a9a9;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
}

.box-phantrang a:hover {
    color: #230a32;
    background: #cfcfcf;
    border: solid 1px #eaeaea
}

.box-phantrang .active a:link, .box-phantrang .active a:visited, .box-phantrang .active a:hover {
    display: block;
    color: #000;
    background: #66ff66;
    border: solid 1px #feead6;
    cursor: default
}

.box-phantrang ul {
    list-style-type: none
}

.box-phantrang li {
    float: left;
    margin-right: 7px;
}

.box-phantrang li img {
    text-align: center;
    background-size: 100%;
    height: 20px;
    width: 20px;
}

#tbl_ranking {
    clear: both;
    width: 100%;
    background: url('../images/t_notice.gif') left top repeat-x;
    font-family: Arial;
    font-size: 12px;;
    color: #000000;
    text-align: center
}

#tbl_ranking thead th {
    height: 32px;
    padding: 0;
    background: url('../images/t_ranking_line.gif') 0 9px no-repeat;
    font-size: 12px;
    font-weight: bold;
    color: #f1eddf;
    line-height: 14px;
}

#tbl_ranking thead th.lbg {
    background: url('../images/t_notice_l.gif') left top no-repeat;
    vertical-align: middle;
}

#tbl_ranking thead th.rbg {
    background: url('../images/t_notice_r.gif') right top no-repeat;
}

#tbl_ranking thead th.rbg span {
    display: block;
    height: 23px;
    padding: 9px 0 0 0;
    background: url('../images/t_ranking_line.gif') 0 9px no-repeat;
}

#tbl_ranking tbody td {
    padding: 7px 0 10px;
    background: url('../images/tbl_dotline.gif') left bottom repeat-x;
    text-align: center;
}

#tbl_ranking tbody td.gainedxp {
    padding: 0 23px 0 0;
    text-align: right;
}

#ranking_search {
    width: 100%;
    height: 40px;
    margin: 0 0 17px 0;
    background-color: #dad6c8;
    _overflow: hidden;
}

#ranking_search #input_search {
    float: left;
    padding: 10px 0 0 11px;
}

#ranking_search #input_search input {
    vertical-align: middle;
}

#ranking_search #input_search input.input_character {
    width: 136px;
    height: 15px;
    padding: 3px 0 0 0;
    background: #fff url('../images/search_input_character.gif') 2px 5px no-repeat;
    border: none;
}

#ranking_search #input_search input.input_guild {
    width: 136px;
    height: 15px;
    padding: 3px 0 0 0;
    background: #fff url('../images/search_input_guild.gif') 2px 5px no-repeat;
    border: none;
}

#ranking_search #input_search input.on {
    background-image: none;
}

#ranking_search img {
    vertical-align: middle;
    cursor: pointer;
}

#select_search {
    float: right;
    padding: 10px 9px 20px 0;
}

#select_search .selectlayer {
    float: left;
    display: block;
    position: relative;
    width: 119px;
    height: 18px;
    margin: 0 0 0 5px;
    background-color: #b0ac9e;
    border: 1px solid #848074;
    cursor: pointer;
}

#select_search .selectlayer a.default {
    display: block;
    height: 18px;
    padding: 0 0 0 9px;
    background: url('../images/ico_selectdown_search.gif') right center no-repeat;
    font-size: 10px;
    color: #fff;
    line-height: 18px;
}

#select_search .selectlayer p.title_top {
    display: block;
    height: 18px;
    padding: 0 0 0 9px;
    font-size: 10px;
    color: #fff;
    line-height: 18px;
}

#select_search .selectlayer a.default:hover {
    text-decoration: none;
}

#select_search .selectlayer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -1px;
    top: 19px;
    display: none;
    width: 100%;
    background-color: #b0ac9e;
    border: 1px solid #848074;
}

#select_search .selectlayer ul li {
    display: block;
    width: 100%;
}

#select_search .selectlayer ul li a {
    display: block;
    height: 18px;
    padding: 0 0 0 9px;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
}

#select_search .selectlayer ul li a:hover {
    background-color: #7c7766;
    color: #fff;
    text-decoration: none;
}

#select_search .selectlayer ul li a.selected {
    background-color: #7c7766;
    color: #fff;
}


