.box-solid {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    border: 1px dashed #d0d0d0;
}

.col-left {
    display: block;
    float: right;
    padding: 0px 3px;
}

.col-right {
    float: right;
    display: block;
}

.bd {
    color: red;
    font-weight: bold;
}

.callAjaxRanking {
    cursor: pointer !important;
}

a.page-link {
    cursor: pointer;
}
