.source { margin: 5px; }

/*********************** pagination ***************** */
.panel
{
    border-radius: 5px;
    border: 1px solid silver;
    background-color: #F7F6F4;
    padding: 4px;
	margin-bottom: 5px;
	width: 100%;
    display: inline-block;
}

.pagination-holder {
    padding: 0px 20px;
    margin: 10px 0px 20px;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin: 0;
}

.simple-pagination ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.simple-pagination li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

/*------------------------------------*\
	Light Theme Styles
\*------------------------------------*/

.light-theme a, .light-theme span {
	float: left;
	text-decoration: none;
	color: #666;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #BBB;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.light-theme a.page-link:hover {
	text-decoration: none;
	background: #FCFCFC;
}

.light-theme .current {
	background: #666;
	color: #FFF;
	border-color: #444;
	box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
	cursor: default;
}

.light-theme .ellipse {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}


.pagination { padding: 6px 0 0 0; }
.pagination a { font-size: 13px; }
.pagination .b, .panel .b, .source .b { font-weight: bold; }

a.bd { color: red; font-weight: bold; }

.list-footer { margin: 8px 0 0 8px; }
.actions { float: right; }

#filters { background: #f0f0f0; border: 1px solid #a0a0a0; margin: 16px 0 0 0; padding: 8px; }

.periods { background: #e0e0e0; border-top: #c0c0c0 1px solid; }
.periods .year, .periods .month { float: left; padding: 3px 5px; ; }

.periods .year { background: #ffe0e0; }
.periods .year a.sl { font-weight: bold; }

.periods .month { background: #e0ffe0; }
.periods .month a.sl { font-weight: bold; }

.periods .days { padding: 4px 0; }
.periods .days a { padding: 4px;  }
.periods .days a.sl { background: #404040; color: white; }


#browse_dates .years { display: block; padding: 2px 4px; }
#browse_dates .years-b { display: block; padding: 2px 4px; font-weight: bold; }
#browse_dates .years-bwm { display: block; padding: 2px 4px; background: #000000; }
#browse_dates .years-bwm a { color: white; font-weight: normal; }

#browse_dates .mons { display: block; padding: 2px 0 2px 8px;  }
#browse_dates .mons-b { display: block;  padding: 2px 0 2px 8px; font-weight: bold;  }
#browse_dates .mons-bwm { display: block; padding: 2px 0 2px 8px; background: #000000; }
#browse_dates .mons-bwm a { color: white; font-weight: normal; }

#browse_dates .days { display: block; padding: 2px 0 2px 16px; }
#browse_dates .days-b { display: block; padding: 2px 0 2px 16px; display: block; background: #000000;  }
#browse_dates .days-b a { color: white; font-weight: normal; }

#browse_dates a { text-decoration: underline; line-height: 1.5em; }
#browse_dates small { font-size: 11px; color: #888888; }

#archives_list a.arch, #archives_list a.arch-b {  text-decoration: none; display: block; padding: 4px; }
#archives_list a.arch em, #archives_list a.arch-b em { font-size: 11px; text-decoration: underline; font-style: normal; }
#archives_list a.arch-b { background: #000000; color: white; }

.bold { font-weight: bold; }